### Import the libraries, set pathes

In [3]:
import os
import pandas as pd
import csv

DIR = './data'
DIR_SAVE = './saved'

### List the files to process

In [4]:
dir_files_list = sorted(filter(lambda x: x.split('.')[0] != '', os.listdir(DIR)))
dir_files_list

['amazon_reviews_us_Books_v1_00.tsv',
 'amazon_reviews_us_Books_v1_01.tsv',
 'amazon_reviews_us_Books_v1_02.tsv',
 'amazon_reviews_us_Digital_Ebook_Purchase_v1_01.tsv']

In [6]:
# Work with each file seperately

for file in dir_files_list[0:1]:
# for file in dir_files_list[1:2]:
# for file in dir_files_list[2:3]:
# for file in dir_files_list[3:4]:
    print('Processing: ', file)
    df = pd.read_csv(os.path.join(DIR, file), sep='\t', error_bad_lines=False, quoting=csv.QUOTE_NONE)


df.head()

Processing:  amazon_reviews_us_Books_v1_00.tsv

,marketplace,customer_id,review_id,product_id,product_parent,product_title,product_category,star_rating,helpful_votes,total_votes,vine,verified_purchase,review_headline,review_body,review_date
0,US,25933450,RJOVP071AVAJO,0439873800,84656342,There Was an Old Lady Who Swallowed a Shell!,Books,5,0,0,N,Y,Five Stars,I love it and so does my students!,2015-08-31
1,US,1801372,R1ORGBETCDW3AI,1623953553,729938122,I Saw a Friend,Books,5,0,0,N,Y,"Please buy ""I Saw a Friend""! Your children wil...",My wife and I ordered 2 books and gave them as...,2015-08-31
2,US,5782091,R7TNRFQAOUTX5,142151981X,678139048,"Black Lagoon, Vol. 6",Books,5,0,0,N,Y,Shipped fast.,Great book just like all the others in the ser...,2015-08-31
3,US,32715830,R2GANXKDIFZ6OI,014241543X,712432151,If I Stay,Books,5,0,0,N,N,Five Stars,So beautiful,2015-08-31
4,US,14005703,R2NYB6C3R8LVN6,1604600527,800572372,Stars 'N Strips Forever,Books,5,2,2,N,Y,Five Stars,Enjoyed the author's story and his quilts are ...,2015-08-31

In [81]:
df_new = df[['marketplace', 'customer_id', 'review_id', 'product_id']]
df_new.reset_index(level=0, inplace=True)
df_new.columns = ['id', 'marketplace', 'customer_id', 'review_id', 'product_id']
df_new.to_csv('./saved/Review_Product_Customer.csv', index=False)
df_new.head()

   id marketplace  customer_id       review_id  product_id
0   0          US     25933450   RJOVP071AVAJO  0439873800
1   1          US      1801372  R1ORGBETCDW3AI  1623953553
2   2          US      5782091   R7TNRFQAOUTX5  142151981X
3   3          US     32715830  R2GANXKDIFZ6OI  014241543X
4   4          US     14005703  R2NYB6C3R8LVN6  1604600527

In [88]:
df_new = df[['review_id', 'review_headline', 'review_body', 'review_date', \
               'helpful_votes', 'total_votes', 'vine', 'verified_purchase']]
df_new.reset_index(level=0, inplace=True)
df_new.columns = ['id', 'review_id', 'review_headline', 'review_body', 'review_date', \
               'helpful_votes', 'total_votes', 'vine', 'verified_purchase']
df_new.to_csv('./saved/Review.csv', index=False)
df_new.head()

,id,review_id,review_headline,review_body,review_date,helpful_votes,total_votes,vine,verified_purchase
0,0,RJOVP071AVAJO,Five Stars,I love it and so does my students!,2015-08-31,0,0,N,Y
1,1,R1ORGBETCDW3AI,"Please buy ""I Saw a Friend""! Your children wil...",My wife and I ordered 2 books and gave them as...,2015-08-31,0,0,N,Y
2,2,R7TNRFQAOUTX5,Shipped fast.,Great book just like all the others in the ser...,2015-08-31,0,0,N,Y
3,3,R2GANXKDIFZ6OI,Five Stars,So beautiful,2015-08-31,0,0,N,N
4,4,R2NYB6C3R8LVN6,Five Stars,Enjoyed the author's story and his quilts are ...,2015-08-31,2,2,N,Y

In [87]:
df_new = df[['product_id', 'product_parent','product_title','product_category','star_rating']]
df_new.reset_index(level=0, inplace=True)
df_new.columns = ['id', 'product_id', 'product_parent','product_title','product_category','star_rating']
df_new.to_csv('./saved/Product.csv', index=False)
df_new.head()

,id,product_id,product_parent,product_title,product_category,star_rating
0,0,0439873800,84656342,There Was an Old Lady Who Swallowed a Shell!,Books,5
1,1,1623953553,729938122,I Saw a Friend,Books,5
2,2,142151981X,678139048,"Black Lagoon, Vol. 6",Books,5
3,3,014241543X,712432151,If I Stay,Books,5
4,4,1604600527,800572372,Stars 'N Strips Forever,Books,5